<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="user">Informations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="g2">G2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="g">G</a>
    </li>
  </ul>
</div>